services:

  api:
    container_name: auth_api
    build:
      context: .
      dockerfile: ./deploy/Dockerfile
    volumes:
      - .:/app
    ports:
      - ${HTTP_PORT}:8080
    depends_on:
      - database
    env_file:
      - .env
    restart: always

  database:
    image: postgres:latest
    container_name: auth_database
    environment:
      POSTGRES_DB: ${DATABASE_NAME} 
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    ports:
      - ${DATABASE_PORT}:5432
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    restart: always

volumes:
  pgdata:
    driver: local